body {
    background-color: #f8f9fa !important;
}
.intro-container {
    background-image: url("https://wallpaperaccess.com/full/3051721.jpg");
    background-image: url("https://wallpaperaccess.com/full/3051721.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-align: center;
}

.intro-container h1 {
    font-family:'Oswald', sans-serif;
    font-size: 66px;
   /* position: absolute;*/
    /*top: 50px;*/
    margin-bottom: 300px;

  }
  /**/
.intro-container p {
    position: absolute;
    margin-bottom: 150px;
    /*top: 170px;*/
    /*cccccc
    1C1917*/
}
.custom-nav {
    background-color: #2e2b26;

  }
  
  .custom-nav .nav-link {
    color: #ffffff;
  }
  
  .custom-nav .nav-link:hover {
    color: #fff;
  }
  .background-col {
    background-color: #2e2b26;
  }
 
  .parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 60%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;

  }

  .skillinfo {
    padding-left: 50px;
    margin-bottom: 10px;
  }

  .contact-message {
    width: 40%;
    margin: 40px auto 30px;

  }

  .footer {
    background-color: #cbc9b9;
   
  }

  @media (max-width: 768px) {
    .parent {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 65%;
      
    }
    .image {
        text-align: left;
        width: 100%;

      }
      .skillinfo {
        padding: 0;
      }
  }
  
  